Source: ctk
Priority: optional
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Dominique Belhachemi <domibel@debian.org>
Build-Depends: debhelper (>= 9), cmake (>= 2.8.4), libqt4-dev, libqt4-opengl-dev,
 libqtwebkit-dev, libdcmtk2-dev, libtiff-dev, libvtk6-dev,
 libinsighttoolkit4-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.commontk.org/
Vcs-Browser: http://anonscm.debian.org/viewvc/debian-med/trunk/packages/ctk/trunk/
Vcs-Svn: svn://svn.debian.org/debian-med/trunk/packages/ctk/trunk/

Package: libctk-dev
Section: libdevel
Architecture: any
Depends: libctk0.1 (= ${binary:Version}), ${misc:Depends}
Description: toolkit for medical imaging application development - devel
 CTK provides a number of C++ libraries containing functionality
 commonly needed in medical imaging application development.
 Many libraries also provide Python wrapped access to Qt classes.
   * Qt widgets with visualization and medical imaging specific features like
     material property and histogram viewing and editing.
   * Qt API to DICOM networking, database, and processing classes and widgets based
     on the DCMTK DICOM toolkit.
   * An OSGi - like general purpose plugin framework for creating modular and service-oriented systems.
   * A library to support processing through Command Line Interface helper applications.
 .
 This package provides the CTK header files required to compile C++ programs
 that use CTK.

Package: libctk0.1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: toolkit for medical imaging application development - runtime
 CTK provides a number of C++ libraries containing functionality
 commonly needed in medical imaging application development.
 Many libraries also provide Python wrapped access to Qt classes.
   * Qt widgets with visualization and medical imaging specific features like
     material property and histogram viewing and editing.
   * Qt API to DICOM networking, database, and processing classes and widgets based
     on the DCMTK DICOM toolkit.
   * An OSGi - like general purpose plugin framework for creating modular and service-oriented systems.
   * A library to support processing through Command Line Interface helper applications.
 .
 This package provides the runtime binaries for CTK

Package: libctk0.1-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    libctk0.1 (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for libctk0.1
 CTK provides a number of C++ libraries containing functionality
 commonly needed in medical imaging application development.
 Many libraries also provide Python wrapped access to Qt classes.
   * Qt widgets with visualization and medical imaging specific features like
     material property and histogram viewing and editing.
   * Qt API to DICOM networking, database, and processing classes and widgets based
     on the DCMTK DICOM toolkit.
   * An OSGi - like general purpose plugin framework for creating modular and service-oriented systems.
   * A library to support processing through Command Line Interface helper applications.
 .
 This package contains the debugging symbols for libctk0.1
