Source: ctk
Priority: optional
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Dominique Belhachemi <domibel@debian.org>
Build-Depends: debhelper (>= 9), cmake (>= 2.8.4), libqt4-dev, libqt4-opengl-dev,
 libqtwebkit-dev, libdcmtk2-dev, libtiff-dev, libvtk5-dev, libvtk5-qt4-dev,
 libinsighttoolkit4-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.commontk.org/
Vcs-Browser: http://anonscm.debian.org/viewvc/debian-med/trunk/packages/ctk/trunk/
Vcs-Svn: svn://svn.debian.org/debian-med/trunk/packages/ctk/trunk/

Package: libctk-dev
Section: libdevel
Architecture: any
Depends: libctk0.1 (= ${binary:Version}), ${misc:Depends}
Description: toolkit for medical imaging application development - devel
 The goals of CTK are as follows:
    * Provide a unified set of basic programming constructs that are useful for
      medical imaging applications development
    * Facilitate the exchange and combination of code and data
    * Document, integrate, and adapt successful solutions
    * Avoid the duplication of code and data
    * Continuously extend to new tasks within the scope of the toolkit
      (medical imaging) without burdening existing tasks
 .
 This package provides the CTK header files required to compile C++ programs
 that use CTK.

Package: libctk0.1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: toolkit for medical imaging application development - runtime
 The goals of CTK are as follows:
    * Provide a unified set of basic programming constructs that are useful for
      medical imaging applications development
    * Facilitate the exchange and combination of code and data
    * Document, integrate, and adapt successful solutions
    * Avoid the duplication of code and data
    * Continuously extend to new tasks within the scope of the toolkit
      (medical imaging) without burdening existing tasks 
 .
 This package provides the runtime binaries for CTK

Package: libctk0.1-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    libctk0.1 (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for libctk0.1
 The goals of CTK are as follows:
    * Provide a unified set of basic programming constructs that are useful for
      medical imaging applications development
    * Facilitate the exchange and combination of code and data
    * Document, integrate, and adapt successful solutions
    * Avoid the duplication of code and data
    * Continuously extend to new tasks within the scope of the toolkit
      (medical imaging) without burdening existing tasks
 .
 This package contains the debugging symbols for libctk0.1
